@model Warehouse.Model.WareHouseItemCategory.WareHouseItemCategoryModel

<div>
    <h4>Chi tiết loại vật tư</h4>
    <hr />
    <form asp-controller="WareHouseItemCategory" asp-action="Detail">
        <div class="form-body">
            <input type="hidden" asp-for="Id" />
            <div class="modal-body">
                  <div class="form-group">
                    <label asp-for="Code" class="control-label"></label>
                    <input asp-for="Code" class="form-control" min="0" readonly="@(true)" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" min="0" readonly="@(true)" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ParentId" class="control-label"></label>
                    @Html.DropDownListFor(m => m.ParentId, Model.AvailableCategory, "Thuộc loại", new { @class = "form-control", style = "width: 100%", disabled = "disabled" })
                    <span asp-validation-for="ParentId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" min="0" readonly="@(true)" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group form-group-sm">
                    Trang thai
                    <div class="col-md-9">
                        @Html.DisplayFor(m => m.Inactive)
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
